<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        @page {
        size: A4 {{ view_option| default:'portrait' }};
        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 45pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 45pt; width: 512pt; top: 772pt; height: 40pt;
        }
        @frame content {
        left: 45pt;
            width: 512pt;
            top: 90pt;
            height: 680pt;
            -pdf-keep-with-next: true;
        }
    }
    </style>
</head>
<body>
<div id="header_content" style="text-align: center">
    <h1>Products Revenue Projections</h1>
    <img src="" alt="Image" />
</div>
<div id=""></div>
<div id="footer_content" style="text-align: center;padding-top: 20px">
        <pdf:pagenumber>
        of <pdf:pagecount>
</div>
    <table repeat="1" >
        <thead></thead>
        <tbody>
        {% if report_data %}
            {% for year_name, product_revenue_dict in report_data.monthly_revenues.items %}
                <!-- Product Revenue Information Begins Here-->
                    <tr style="border: 3px solid #696969;padding-top: 5px; margin: 5px">
                        <td colspan="14" style="text-align:center">
                        <h1>{{ year_name }}</h1>
                        </td>
                    </tr>
                    <tr style="border-bottom: 2px solid #A9A9A9;padding-top: 5px">
                        <td style="text-align:center">
                            <h1>Product</h1>
                        </td>
                        {% for month_name in report_data.months %}
                            <td style="text-align:center">
                                <h1>{{ month_name }}</h1>
                            </td>
                        {% endfor %}
                        <td style="text-align:center">
                            <h1>Total</h1>
                        </td>
                    </tr>
                    {% for product_name, product_revenue_lst in product_revenue_dict.items %}
                        <tr style="border-bottom: 2px solid #A9A9A9;padding-top: 5px">
                            <td style="text-align:center; font-weight: bold">
                                {{ product_name }}
                            </td>
                        {% for revenue_item in product_revenue_lst %}
                            <td style="text-align:center">
                                <div>{{ revenue_item.4| floatformat:2 }}</div>
                            </td>
                        {% endfor %}
                        <td style="text-align:center;font-weight: bold">
                            {% for year, yearly_revenue_dict in report_data.yearly_revenues.items %}
                                {% if year_name == year %}
                                    {% for product, year_revenue in yearly_revenue_dict.items %}
                                        {% if product_name == product %}
                                            {{ year_revenue | floatformat:2 }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        </tr>
                    {% endfor %}

                <!-- Product Revenue Information Ends Here-->
            {% endfor %}
            <!-- Monthly revenue total Begins Here -->
            <tr style="border-bottom: 2px solid #A9A9A9;padding-top: 5px">
                <td style="text-align:center; font-weight: bold">
                    Total
                </td>
                {% for month, month_total in report_data.monthly_revenue_total.items %}
                    <td style="text-align:center;font-weight:bold">
                        <div>{{ month_total| floatformat:2 }}</div>
                    </td>
                {% endfor %}
                <td style="text-align:center; font-weight: bold">
                    {{ report_data.monthly_total_summation| floatformat:2 }}
                </td>
            </tr>
            <!-- Monthly revenue total Ends Here -->
        {% else %}
            <div>No Report Data</div>
        {% endif %}
        </tbody>
    </table>
</body>
</html>
