{% extends "businessplan/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel-dody" style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding: 2%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue">

  <form class= "form-horizontal" action="{% if action == 'edit' %} {% url 'rampup:edit_rampup' %} {% elif action == 'update' %} {% url 'rampup:update_rampup' %} {% endif %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <thead>
            <h3>
                {% if action == 'add' %} Add Ramp Up
                {% elif action == 'edit' %} Edit Ramp Up
                {% else %} Update Ramp Up {% endif %}
            </h3>
        </thead>
        <tbody>
            {% if action == 'add' %}
                <tr>
                    <td>{{ form.year }}</td>
                </tr>
                <tr>
                    <td>{{ form.rampup_type }}</td>
                </tr>
            {% elif action == 'edit' %}
                <tr><td>{{ form.year }}</td></tr>
                <tr><td>{{ form.rampup_type }}</td></tr>
            {% elif action == 'update' %}
                 <tr>
                        <td style="padding-top: 5px; font-weight:bold">
                            Ramp Up Year: {{ year }}
                        </td>
                 </tr>
                {% for index, rampup in values %}
                    <tr>
                        <td style="padding-top: 5px; font-weight:bold">
                            Month: {{ rampup.2 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="financial_year">
                                <option value="{{ rampup.1   }}">{{ rampup.1 }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="text" name="month" required value="{{ rampup.2 }}" readonly/></td></tr>
                    <tr><td><input type="text" name="percentage" required placeholder="Month {{ rampup.2 }} Value" value="{{ rampup.3 }}"/></td></tr>
                    <tr><td><input type="text" name="product" required value="{{ rampup.4 }}" readonly/></td></tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td>
                    <input type ='submit' value = '{% if action == "add" %} Create {% elif action == "edit" %} Edit {% else %} Update {% endif %}' id='id_add_rampup_button'>
                </td>
            </tr>
            {% if action == 'add' %}
                <tr>
                    <td>
                        <a href="{% url 'rampup:edit_rampup' %}" >Edit Expense</a>
                    </td>
                </tr>
                {% elif action == 'edit' %}
                <tr>
                    <td>
                        <a href="{% url 'rampup:add_rampup' %}" >Add Expense</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </form>
</div>
{% endblock %}