{% extends "businessplan/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel-dody" style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding: 2%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue">

  <form class= "form-horizontal" action="{% if action == 'edit' %} {% url 'rampup:edit_rampup' %} {% elif action == 'update' %} {% url 'rampup:update_rampup' %} {% endif %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <thead>
            <h3>
                {% if action == 'add' %} Add Ramp Up
                {% elif action == 'edit' %} Edit Ramp Up
                {% else %} Update Ramp Up {% endif %}
            </h3>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.name }}</td>
            </tr>
            {% if action != 'edit' %}
            <tr>
                <td>{{ form.rampup_type }}</td>
            </tr>
            <tr>
                <td>{{ form.rampup_values }}</td>
            </tr>
            <tr>
                <td>{{ form.year }}</td>
            </tr>
            <tr>
                <td>{{ form.will_roll_over.label }}: {{ form.will_roll_over }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <input type ='submit' value = '{% if action == "add" %} Add {% elif action == "edit" %} Edit {% else %} Update {% endif %}' id='id_add_rampup_button'>
                </td>
            </tr>
            {% if action == 'add' %}
                <tr>
                    <td>
                        <a href="{% url 'rampup:edit_rampup' %}" >Edit Expense</a>
                    </td>
                </tr>
                {% elif action == 'edit' %}
                <tr>
                    <td>
                        <a href="{% url 'rampup:add_rampup' %}" >Add Expense</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </form>
</div>
{% endblock %}