{% extends "businessplan/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="panel-dody" style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding: 2%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue" >

  <form class= "form-row" action="", method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <thead>
            <h3 id='id_header'>Add Financial Year</h3>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>{{ form.start_date }}</td>
            </tr>
            <tr>
                <td>{{ form.inflation }}</td>
            </tr>
            <tr>
                <td><input type ='submit' value = 'Add Year' id='id_submit_button'></td>
            </tr>
        </tbody>
    </table>
          
  </form>
</div>
{% endblock %}