{% extends "businessplan/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    td {
        width: auto;
        padding: 1%;
        text-align: center;
        background-color: red;
        border: 1px solid black;
    }
    td a {

<!--    padding-left: 45.5%;-->
<!--    padding-right: 45.5%;-->
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    }
</style>
<div class="panel-dody"
     style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding: 2%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue"
     xmlns:width="http://www.w3.org/1999/xhtml">

  <form class= "form-row" action="{% if action != 'review' %}
    {% if view == 'inflation' %} {% url 'dates:ManageInflation' %} {% elif view == 'rampup' %} {% url 'rampup:add_rampup' %} {% elif view == 'seasonality' %} {% url 'seasonality:add_seasonality' %} {% elif view == 'expense' %} {% url 'products:add_expense' %}{% elif view == 'product' %} {% elif view == 'cost_of_sale' %} {% url 'products:create_cost_of_sale' %}{% url 'products:add_n_product' %}{% else %} {% url 'dates:CreateDates' %} {% endif %}
  {% else %}
    {% if view == 'inflation' %} {% url 'dates:EditInflation' %} {% elif view == 'rampup' %} {% url 'rampup:edit_rampup' %} {% elif view == 'seasonality' %} {% url 'seasonality:edit_seasonality' %} {% elif view == 'expense' %} {% url 'products:edit_expense' %}{% elif view == 'cost_of_sale' %} {% url 'products:edit_cost_of_sale' %}{% elif view == 'product' %} {% url 'products:edit_product' %}{% else %} {% url 'dates:EditDates' %} {% endif %}
  {% endif %}", method="GET", enctype="multipart/form-data">
    {% csrf_token %}
      <input type="hidden" value="{{ action }}" name="update">
    <table style="width: 100%">
        <thead style="text-align:center; width: 100%;">
            <h3 id='id_header'>{{ message }}</h3>
        </thead>
        <tbody>
            <tr>
                <td><input type='submit' value='{{ btn_name }}' class='id_close_success_button' style="width:100%"></td>
            </tr>
            <tr>
                <td><a href="{% if view == 'inflation' %} {% url 'dates:ViewInflation' %} {% elif view == 'cost_of_sale' %} {% url 'products:view_cost_of_sale' %}{% elif view == 'rampup' %} {% url 'rampup:view_rampups' %} {% elif view == 'seasonality' %} {% url 'seasonality:view_seasonality' %} {% elif view == 'expense' %} {% url 'products:view_expense' %}{% elif view == 'product' %} {% url 'products:view_product' %}{% else %} {% url 'dates:ViewDates' %} {% endif %}" class='id_close_success_button'>View</a></td>
            </tr>
            <tr>
                <td>
                    <a style="color:#000000; font-weight: normal;" href="{% url 'login' %}" class='id_close_success_button'>Home</a>
                </td>
            </tr>
        </tbody>
    </table>
          
  </form>
</div>
{% endblock %}