{% extends "businessplan/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel-dody" style="margin-top: 8%; height: 40%; width: 35%; margin-left: 30%; padding-left:2.5%; border: 5px solid blue; border-top: 10px solid blue">

  <form class= "form-horizontal" action="{% if action == 'edit' %} {% url 'products:edit_cost_of_sale' %} {% elif action == 'update' %} {% url 'products:update_cost_of_sale' %}{% elif action == 'view' %} {% url 'login' %} {% endif %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <thead>
            <h3>
                {% if action == 'add' %} Add Cost Of Sale
                {% elif action == 'edit' %} Edit Cost Of Sale
                {% else %} Update Cost Of Sale {% endif %}
            </h3>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td style="padding-top: 5px; font-weight:bold">
                        Cost of Sale: {{ product.1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="product" value="{{ product.1 }}" readonly/>
                    </td>
                    <td>
                        <input type="text" name="percentage" value="{{ product.2|default:'' }}" placeholder="{{ product.1 }} cost of sale value" {% if action == "view" %} readonly {% endif %}/>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type ='submit' value = '{% if action == "add" %} Add {% elif action == "edit" %} Edit {% elif action == "view" %} Close {% else %} Update {% endif %}' id='id_add_product_cost_of_sale_button'>
                </td>
            </tr>

            {% if action == 'add' %}
                <tr>
                    <td>
                        <a href="{% url 'products:edit_cost_of_sale' %}" >Edit Cost Of Sale</a>
                    </td>
                </tr>
                {% elif action == 'edit' %}
                <tr>
                    <td>
                        <a href="{% url 'products:create_cost_of_sale' %}" >Add Cost Of Sale</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </form>
</div>
{% endblock %}