{% extends "businessplan/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel-dody" style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding: 2%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue">

  <form class= "form-horizontal" action="{% if action == 'add' %} {% url 'products:add_n_expenses' %} {% elif action == 'edit' %} {% url 'products:edit_expense' %} {% elif action == 'update' %} {% url 'products:update_expense' %} {% endif %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <thead>
            <h3>
                {% if action == 'add' %} Add Expense
                {% elif action == 'edit' %} Edit Expense
                {% else %} Update Expense {% endif %}
            </h3>
        </thead>
        <tbody>
        {% for expense in expense_count %}
            <tr>
                <td style="padding-top: 5px; font-weight:bold">
                    Expense: {{ expense|add:"1" }}
                </td>
            </tr>
            <tr>
                <td>{{ form.description }}</td>
            </tr>
            {% if action != 'edit' %}
            <tr>
                <td>{{ form.is_fixed }}</td>
            </tr>
            <tr>
                <td>{{ form.value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
            <tr>
                <td>
                    <input type ='submit' value = '{% if action == "add" %} Add Expense {% elif action == "edit" %} Edit Expense {% else %} Update Expense {% endif %}' id='id_add_expense_button'>
                </td>
            </tr>
            {% if action == 'add' %}
            <tr>
                <td>
                    <a href="{% url 'products:edit_expense' %}" >Edit Expense</a>
                </td>
            </tr>
            {% elif action == 'edit' %}
            <tr>
                <td>
                    <a href="{% url 'products:add_expense' %}" >Add Expense</a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
  </form>
</div>
{% endblock %}