{% extends "businessplan/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="panel-dody" style="margin-top: 20%; height: 40%; width: 30%; margin-left: 35%; padding-left: 8%; border-radius: 2%; border: 5px solid blue; border-top: 10px solid blue">

  <form class= "form-horizontal" action="{% if action == 'add' %} {% url 'products:add_n_expenses' %} {% elif action == 'review' %} {% url 'products:edit_expense' %} {% elif action == 'update' %} {% url 'products:update_expense' %} {% endif %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <thead>
            <h3>
                {% if action == 'add' %} Add Expense
                {% elif action == 'edit' %} Edit Expense
                {% else %} Update Expense {% endif %}
            </h3>
        </thead>
        <tbody>
        {% if action == 'edit' %}
            {% for expense in expenses %}
                <tr>
                    <td style="padding-top: 5px; font-weight:bold">
                        Expense: {{ expense.1 }}
                    </td>
                </tr>
                <tr>
                    <td><input name="description" type="text" value="{{ expense.1 }}" readonly></td>
                </tr>
                <tr>
                    <td>
                        <select name="is_fixed">
                            <option value="-1">---Select Expense Type---</option>
                            {% if expense.2 is True %}
                                <option value="1" selected>Fixed</option>
                            {% else %}
                                <option value="0">Not Fixed</option>
                            {% endif %}
                            <option value="{% if expense.2 is True %} 0 {% else %} 1 {% endif %}">{% if expense.2 is True %} Not Fixed {% else %} Fixed {% endif %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input name="value" type="text" value="{{ expense.3|floatformat:2 }}" ></td>
                </tr>
            {% endfor %}
        {% elif action == 'add' %}

            {% for expense in expense_count %}
                <tr>
                    <td style="padding-top: 5px; font-weight:bold">
                        Expense: {{ expense|add:"1" }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.description }}</td>
                </tr>
                {% if action != 'edit' %}
                <tr>
                    <td>{{ form.is_fixed }}</td>
                </tr>
                <tr>
                    <td>{{ form.value }}</td>
                </tr>
                {% endif %}
            {% endfor %}

        {% endif %}
            <tr>
                <td>
                    <input type ='submit' value = '{% if action == "add" %} Add Expense {% elif action == "edit" %} Edit Expense {% else %} Update Expense {% endif %}' id='id_add_expense_button'>
                </td>
            </tr>
            {% if action == 'add' %}
            <tr>
                <td>
                    <a href="{% url 'products:edit_expense' %}" >Edit Expense</a>
                </td>
            </tr>
            {% elif action == 'edit' %}
            <tr>
                <td>
                    <a href="{% url 'products:add_expense' %}" >Add Expense</a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
  </form>
</div>
{% endblock %}