@charset "utf-8";
/* College Central Home css. All copy rights reserved. TT UNIK IT SOLUTIONS*/

/* Main Logo Layout*/
.rmklogo{ background: url(../img/logo.svg);
width:300px;
height:88px;
background-size:cover;

	
	
}